<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
<listeners>
		<listener class-name="com.mystore.qa.listeners.ListenerClass" />
	</listeners>
  <test thread-count="5" parallel="methods" name="Test">
    <classes>
      <class name="com.mystore.qa.tests.OrderPageTest"/>
      <class name="com.mystore.qa.tests.MyStoreIndexPageTest"/>
      <class name="com.mystore.qa.tests.AuthenticationPageTest"/>
      <class name="com.mystore.qa.tests.MyAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
